.animate{

margin: 200px auto;

width: 200px;

text-align: center;

line-height: 25vh;

height: 200px;

color: aliceblue;

position: relative;

background-color: aqua;

border: 1px solid black;

box-shadow: 0px 0px 0px rgb(0, 0, 0);
}
.animate1{

margin: 200px auto;

width: 200px;

text-align: center;

line-height: 25vh;

height: 200px;

color: aliceblue;

position: relative;

background-color: aqua;

border: 1px solid black;

box-shadow: 0px 0px 0px rgb(0, 0, 0);
}
.animate2{

margin: 200px auto;

width: 200px;

text-align: center;

line-height: 25vh;

height: 200px;

color: aliceblue;

position: relative;

background-color: aqua;

border: 1px solid black;

box-shadow: 0px 0px 0px rgb(0, 0, 0);
}
.animate3{

margin: 200px auto;

width: 200px;

text-align: center;

line-height: 25vh;

height: 200px;

color: aliceblue;

position: relative;

background-color: aqua;

border: 1px solid black;

box-shadow: 0px 0px 0px rgb(0, 0, 0);
}